<h1>Twitter Clone Homepage</h1>

<% @users.each do |user| %>
 <%= link_to "#{user.name}", user_path(user) %>
 <% user.tweets.each do |tweet| %>
    <li><%= tweet.content %></li>
  <% end %>
<% end %>
